
@import "compass/reset";
@import "compass";


html {
    font-family: Arial;
    height: 100%;
}

body {
    background-color: #27702c;
    color: #fff;
}


#loading {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABuklEQVQ4y42Tuy8EURjF12NZsd5BLFvYUBAbCYntKEQQtqBQUFBQEqVKSIhCq0Urev+ChJLS7HyPe3e9ajVndodM7I64yS+5M3fO+V5zI5E/lsN0Ba4j/1054SS4BAnf4M7D2+uLqREjSWNNNNTAFfEMPsCFb3AL7r29GO0TlTQVbLlBTqUHdPtZbIJPMAHxDXh4frVRERkVy+1Fs4KJStDIET5xmB/Bqm9yCw4gngPL1poWRB/wzthKF1keJyv9gQy4F+JTQOAKz50g/n3Oaqr5RWogHCJLGbacyuVtXaUmjiOb3SelsjqdN6eKC5xQaxp/i7bBkc8hKQ+HNRlTaEH0EZ+0WJQF0Q44/sZVHg01sNIUNACDv7KRFMhinLVlI35/qkL9g2yktdL82yHcAOdgzxWNs/JPHzSvtfTs1pGhDJgHaddKLBh5HZyBqaKh8haYJpEE6COjaVKd8c4gToIZMjwSzKANtJbEMgbxMYRJV3Ue7xdJpQMGayBVNMlTPRU4VqEUboZ4HyyXzHQB5SwWRaoTYAUBGkLvAtJqRuQl/DhNfjazMMiWokqMjGTQxHCDCs2d9Pjrmy+hzJTvv4By2AAAAABJRU5ErkJggg==');
    background-size: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;

    -webkit-animation-name: rotateThis;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotateThis {
    from {
        -webkit-transform:rotate(0deg)
    }
    to {
        -webkit-transform:rotate(360deg)
    }
}


a {
    color: #f60;
}

a.disabled {
    color: #333;
}

a:hover {
    color: #fff;
}


@import "lobby";

@import "game";

