
@import "compass";


#game {

    #view {
        position: absolute;

        @include box-shadow(#000 0px 3px 20px);
    }

    #waitserver {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        text-align: center;
        line-height: 100px;
        color: #fff;
        opacity: 0.5;
    }

    #score-table {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 200px;

        padding: 12px;

        font: 13px Arial;
        background: black;
        border-right: solid 1px #4A4;

        section {
            margin-bottom: 20px;

            header {
                color: #555;
                text-transform: uppercase;
                margin: 5px;
            }
        }

        #challenges-section {
            display: none;

            .icon img { width: 25px; height: 25px; }

            .icon1 { float: left; }
            .icon2 { float: right; }
            .vs { color: #666; }

            .score {
                padding: 2px 5px;

                &.high {
                    color: #000;
                    background: #fff;
                }
            }

            .score-item {
                display: block;
                clear: both;
                padding: 10px 10px;
                color: #aaa;
                vertical-align: top;
                border-top: solid 1px #222;
                text-align: center;
                line-height: 25px;

                &:first-child { border-top: none; }
            }
        }

        #friends-section {
            display: none;

            .friend {
                img {
                    width: 25px; height: 25px; margin: 5px 10px;
                    vertical-align: middle;
                }
                color: #999;

                .who { display: inline-block; }
                .challenge { display: inline-block; }
            }
        }

        #scores-section {
            .score-item {
                clear: both;
                display: block;
                padding: 10px 10px;
                color: #aaa;
                vertical-align: top;
                border-top: solid 1px #222;

                .icon {
                    width: 25px;
                    height: 25px;
                    margin-right: 10px;
                    vertical-align: middle;
                    float: left;
                }

                img { width: 25px; height: 25px; }

                .player {
                    display: inline-block;
                    margin-right: 3px;
                    max-width: 85px;
                }

                .score {
                    float: right;
                    display: inline-block;
                    font-size: 15px;
                    padding: 2px 10px;
                    @include border-radius(10px);
                }

                .lag {
                    display: block;
                    height: 3px;
                    width: 0;
                    margin: 5px 5px 5px 35px;
                    background-color: #0f0;
                    background-image: url('/res/lagbar.png');
                    background-position: left;
                }
            }
        }

        .score-item:first-child {
            border-top: none;
        }

        .score-item.color-mary  .score { background: #a00;   color: #fd6; }
        .score-item.color-john  .score { background: #fff;   color: #33f; }
        .score-item.color-joe   .score { background: #333;   color: #0f0; border: solid 1px #0f0; padding: 0 8px; }
        .score-item.color-betty .score { background: #05e;   color: #ffa; }
    }




    #chat {
        position: fixed;
        bottom: 0;
        left: 225px;
        right: 0;
        z-index: -1;

        color: #0f0;
        font-size: 12px;
        line-height: 20px;
        padding: 10px;
        overflow-y: scroll;


        .info {
            color: #000;
        }

        .chat {
            color: #ff0;
        }

        .mychat {
            color: #fff;
        }

        .kill {
            color: #fa6;
        }

        .bomb {
            display: inline-block;
            vertical-align: middle;
            margin: 0 5px;
        }
    }

    #console {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px;
        border-top: solid 1px #6af;
        background:  #04a;
        z-index: 1000;

        @include box-shadow(#000 0px -3px 20px);
    }

    #chatbox {
        width: 90%;
        font-size: 14px;
        border: none;
        padding: 10px;
        background: #04a;
        color: #888;
    }

    #chatbox:focus {
        border: none;
        color:  #fff;
        outline: none;
    }

}