
BODY, TD {
    font: 11px Arial;
    background: #000;
    color: #fff;
}

table {
    border-collapse: collapse;
}

tr {
    height: 20px;
}

.charts tr {
    height: 30px;
}

.label {
    color: #666;
    text-transform: uppercase;
}

.chart {
    display: inline-block;

}


#stat-kills { font-size: 13px; }
#stat-kills-sui { color: #fea; }
#stat-kills-kil { color: #afa; }