@import url(chars.css);
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/app.scss */
html {
  font-family: Arial;
  height: 100%;
}

/* line 10, ../sass/app.scss */
body {
  /*@include background-image(linear-gradient(top, #60aa42,#ace884,#27702c));*/
  background-color: #27702c;
  color: #fff;
}

/* line 16, ../sass/app.scss */
canvas {
  -moz-box-shadow: black 0px 3px 20px;
  -webkit-box-shadow: black 0px 3px 20px;
  -o-box-shadow: black 0px 3px 20px;
  box-shadow: black 0px 3px 20px;
}

/* line 20, ../sass/app.scss */
#chat {
  color: #0f0;
  font-size: 12px;
  line-height: 20px;
  position: fixed;
  width: 100%;
  padding: 10px;
  bottom: 100px;
}
/* line 29, ../sass/app.scss */
#chat .info {
  color: #000;
}
/* line 33, ../sass/app.scss */
#chat .chat {
  color: #ff0;
}
/* line 37, ../sass/app.scss */
#chat .mychat {
  color: #fff;
}

/* line 42, ../sass/app.scss */
a {
  color: #f60;
}

/* line 46, ../sass/app.scss */
a.disabled {
  color: #333;
}

/* line 50, ../sass/app.scss */
a:hover {
  color: #fff;
}

/* line 55, ../sass/app.scss */
#console {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border-top: solid 1px #6af;
  background: #04a;
  z-index: 1000;
  -moz-box-shadow: black 0px -3px 20px;
  -webkit-box-shadow: black 0px -3px 20px;
  -o-box-shadow: black 0px -3px 20px;
  box-shadow: black 0px -3px 20px;
}

/* line 67, ../sass/app.scss */
#waitserver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  text-align: center;
  line-height: 100px;
  color: #fff;
  opacity: 0.5;
}

/* line 80, ../sass/app.scss */
#chatbox {
  width: 90%;
  font-size: 14px;
  border: none;
  padding: 10px;
  background: #04a;
  color: #888;
}

/* line 89, ../sass/app.scss */
#chatbox:focus {
  border: none;
  color: #fff;
  outline: none;
}

/* line 96, ../sass/app.scss */
.bubble {
  position: absolute;
  background: #000;
  color: #fff;
  top: -20px;
  left: 10px;
  padding: 3px 5px;
  font-size: 11px;
  white-space: nowrap;
  -moz-border-radius: 8px 8px 8px 0;
  -webkit-border-radius: 8px 8px 8px 0;
  -o-border-radius: 8px 8px 8px 0;
  -ms-border-radius: 8px 8px 8px 0;
  -khtml-border-radius: 8px 8px 8px 0;
  border-radius: 8px 8px 8px 0;
}

/* line 111, ../sass/app.scss */
#footer {
  position: fixed;
  bottom: 0;
  background: #000;
  width: 100%;
  padding: 10px;
  font-size: 13px;
  line-height: 20px;
  color: #aaa;
  z-order: -100;
}
/* line 122, ../sass/app.scss */
#footer a {
  color: #fff;
}

/* line 127, ../sass/app.scss */
#welcome {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #273;
}
/* line 133, ../sass/app.scss */
#welcome #form {
  background: #384;
  position: absolute;
  font-size: 20px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  top: 10%;
  padding: 30px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  -o-border-radius: 24px;
  -ms-border-radius: 24px;
  -khtml-border-radius: 24px;
  border-radius: 24px;
  -moz-box-shadow: 0 0 30px #005511;
  -webkit-box-shadow: 0 0 30px #005511;
  -o-box-shadow: 0 0 30px #005511;
  box-shadow: 0 0 30px #005511;
}
/* line 146, ../sass/app.scss */
#welcome #form p {
  color: #051;
  margin-bottom: 20px;
}
/* line 151, ../sass/app.scss */
#welcome #form input {
  background: #273;
  border: none;
  font-size: 24px;
  color: yellow;
  border-bottom: solid 1px yellow;
  padding: 10px;
  width: 210px;
}
/* line 161, ../sass/app.scss */
#welcome #form input:focus {
  outline: none;
}
/* line 165, ../sass/app.scss */
#welcome #form button {
  background-color: #384;
  border: none;
  color: yellow;
  font-size: 20px;
  padding: 10px 20px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  -o-border-radius: 16px;
  -ms-border-radius: 16px;
  -khtml-border-radius: 16px;
  border-radius: 16px;
}
/* line 174, ../sass/app.scss */
#welcome #form button:hover {
  background-color: yellow;
  color: #384;
}
/* line 179, ../sass/app.scss */
#welcome #form button:disabled {
  color: #384;
}
