@import url(chars.css);
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/app.scss */
html {
  font-family: Arial;
  height: 100%;
}

/* line 10, ../sass/app.scss */
body {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #60aa42), color-stop(50%, #ace884), color-stop(100%, #27702c));
  background-image: -webkit-linear-gradient(top, #60aa42, #ace884, #27702c);
  background-image: -moz-linear-gradient(top, #60aa42, #ace884, #27702c);
  background-image: -o-linear-gradient(top, #60aa42, #ace884, #27702c);
  background-image: -ms-linear-gradient(top, #60aa42, #ace884, #27702c);
  background-image: linear-gradient(top, #60aa42, #ace884, #27702c);
  color: #fff;
}

/* line 15, ../sass/app.scss */
a {
  color: #aaa;
}

/* line 19, ../sass/app.scss */
a.disabled {
  color: #333;
}

/* line 23, ../sass/app.scss */
a:hover {
  color: #fff;
}

/* line 28, ../sass/app.scss */
#console {
  width: 100%;
  background: #000;
}

/* line 33, ../sass/app.scss */
#waitserver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  text-align: center;
  line-height: 100px;
  color: #fff;
  opacity: 0.5;
}

/* line 46, ../sass/app.scss */
#chatbox {
  width: 90%;
  font-size: 14px;
  border: none;
  padding: 10px;
  background: #000;
  color: #888;
}

/* line 55, ../sass/app.scss */
#chatbox:focus {
  border: none;
  color: #fff;
  outline: none;
}

/* line 62, ../sass/app.scss */
.bubble {
  position: absolute;
  background: #000;
  color: #fff;
  top: -20px;
  left: 10px;
  padding: 3px 5px;
  font-size: 11px;
  white-space: nowrap;
  -moz-border-radius: 8px 8px 8px 0;
  -webkit-border-radius: 8px 8px 8px 0;
  -o-border-radius: 8px 8px 8px 0;
  -ms-border-radius: 8px 8px 8px 0;
  -khtml-border-radius: 8px 8px 8px 0;
  border-radius: 8px 8px 8px 0;
}
