/* line 5, ../sass/chars.scss */
.character, .john, .mary, .joe, .betty {
  position: absolute;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

/* line 12, ../sass/chars.scss */
.john {
  background-image: url("/res/char-john.png");
}

/* line 13, ../sass/chars.scss */
.mary {
  background-image: url("/res/char-mary.png");
}

/* line 14, ../sass/chars.scss */
.joe {
  background-image: url("/res/char-joe.png");
}

/* line 15, ../sass/chars.scss */
.betty {
  background-image: url("/res/char-betty.png");
}
