/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/app.scss */
html {
  font-family: Arial;
  height: 100%;
}

/* line 11, ../sass/app.scss */
body {
  background-color: #27702c;
  color: #fff;
}

/* line 17, ../sass/app.scss */
#loading {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABuklEQVQ4y42Tuy8EURjF12NZsd5BLFvYUBAbCYntKEQQtqBQUFBQEqVKSIhCq0Urev+ChJLS7HyPe3e9ajVndodM7I64yS+5M3fO+V5zI5E/lsN0Ba4j/1054SS4BAnf4M7D2+uLqREjSWNNNNTAFfEMPsCFb3AL7r29GO0TlTQVbLlBTqUHdPtZbIJPMAHxDXh4frVRERkVy+1Fs4KJStDIET5xmB/Bqm9yCw4gngPL1poWRB/wzthKF1keJyv9gQy4F+JTQOAKz50g/n3Oaqr5RWogHCJLGbacyuVtXaUmjiOb3SelsjqdN6eKC5xQaxp/i7bBkc8hKQ+HNRlTaEH0EZ+0WJQF0Q44/sZVHg01sNIUNACDv7KRFMhinLVlI35/qkL9g2yktdL82yHcAOdgzxWNs/JPHzSvtfTs1pGhDJgHaddKLBh5HZyBqaKh8haYJpEE6COjaVKd8c4gToIZMjwSzKANtJbEMgbxMYRJV3Ue7xdJpQMGayBVNMlTPRU4VqEUboZ4HyyXzHQB5SwWRaoTYAUBGkLvAtJqRuQl/DhNfjazMMiWokqMjGTQxHCDCs2d9Pjrmy+hzJTvv4By2AAAAABJRU5ErkJggg==");
  background-size: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotateThis {
  /* line 35, ../sass/app.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 38, ../sass/app.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* line 44, ../sass/app.scss */
a {
  color: #f60;
}

/* line 48, ../sass/app.scss */
a.disabled {
  color: #333;
}

/* line 52, ../sass/app.scss */
a:hover {
  color: #fff;
}

/* line 11, ../sass/lobby.scss */
#lobby {
  width: 600px;
  margin: 50px auto;
  white-space: nowrap;
  font-size: 18px;
  color: #051;
}
/* line 20, ../sass/lobby.scss */
#lobby .left {
  display: inline-block;
  vertical-align: top;
  width: 325px;
}
/* line 26, ../sass/lobby.scss */
#lobby .right {
  display: inline-block;
  vertical-align: top;
  margin-left: -20px;
}
/* line 32, ../sass/lobby.scss */
#lobby .logo {
  margin: 0 30px 30px 30px;
}
/* line 36, ../sass/lobby.scss */
#lobby p {
  margin-bottom: 5px;
}
/* line 38, ../sass/lobby.scss */
#lobby section {
  margin: 15px;
}
/* line 40, ../sass/lobby.scss */
#lobby .player {
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  -o-border-radius: 24px;
  -ms-border-radius: 24px;
  -khtml-border-radius: 24px;
  border-radius: 24px;
  -moz-box-shadow: 0 0 30px #005511;
  -webkit-box-shadow: 0 0 30px #005511;
  -o-box-shadow: 0 0 30px #005511;
  box-shadow: 0 0 30px #005511;
  background: #273;
  padding: 5px;
}
/* line 43, ../sass/lobby.scss */
#lobby .player #userpic {
  display: inline-block;
  vertical-align: bottom;
  width: 50px;
  height: 50px;
  margin-left: -50px;
}
/* line 50, ../sass/lobby.scss */
#lobby .player #userpic img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 53, ../sass/lobby.scss */
#lobby .player input {
  background: #205f20;
  border: none;
  font-size: 22px;
  color: #5d4;
  padding: 8px;
  width: 250px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 63, ../sass/lobby.scss */
#lobby .player input:focus {
  outline: none;
}
/* line 70, ../sass/lobby.scss */
#lobby .character-select li {
  margin: 5px;
  display: inline-block;
  padding: 10px;
  background-color: #384;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.5;
}
/* line 78, ../sass/lobby.scss */
#lobby .character-select li:hover {
  background-color: #5b7;
}
/* line 79, ../sass/lobby.scss */
#lobby .character-select li.selected {
  background-color: #5b7;
  opacity: 1;
}
/* line 81, ../sass/lobby.scss */
#lobby .character-select li div {
  width: 22px;
  height: 22px;
  background-position: -22px 0;
}
/* line 87, ../sass/lobby.scss */
#lobby .character-select .john {
  background-image: url("/res/char-john.png");
}
/* line 88, ../sass/lobby.scss */
#lobby .character-select .joe {
  background-image: url("/res/char-joe.png");
}
/* line 89, ../sass/lobby.scss */
#lobby .character-select .betty {
  background-image: url("/res/char-betty.png");
}
/* line 90, ../sass/lobby.scss */
#lobby .character-select .mary {
  background-image: url("/res/char-mary.png");
}
/* line 92, ../sass/lobby.scss */
#lobby .character-select .frame0 .selected div {
  background-position: 0 0;
}
/* line 93, ../sass/lobby.scss */
#lobby .character-select .frame1 .selected div {
  background-position: -22px 0;
}
/* line 94, ../sass/lobby.scss */
#lobby .character-select .frame2 .selected div {
  background-position: -44px 0;
}
/* line 95, ../sass/lobby.scss */
#lobby .character-select .frame3 .selected div {
  background-position: -22px 0;
}
/* line 98, ../sass/lobby.scss */
#lobby .games {
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  -o-border-radius: 24px;
  -ms-border-radius: 24px;
  -khtml-border-radius: 24px;
  border-radius: 24px;
  -moz-box-shadow: 0 0 30px #005511;
  -webkit-box-shadow: 0 0 30px #005511;
  -o-box-shadow: 0 0 30px #005511;
  box-shadow: 0 0 30px #005511;
  background: #273;
  padding: 5px;
}
/* line 101, ../sass/lobby.scss */
#lobby .games .game-mode {
  position: relative;
  width: 256px;
  height: 128px;
  vertical-align: middle;
  border: solid 1px #000;
  margin-top: 10px;
}
/* line 111, ../sass/lobby.scss */
#lobby .games .game-mode.arena {
  background: url("/res/mode-arena.png");
}
/* line 113, ../sass/lobby.scss */
#lobby .games .game-mode.arena:hover {
  -moz-box-shadow: black 0 2px 4px;
  -webkit-box-shadow: black 0 2px 4px;
  -o-box-shadow: black 0 2px 4px;
  box-shadow: black 0 2px 4px;
  -moz-transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}
/* line 118, ../sass/lobby.scss */
#lobby .games .game-mode.future {
  background: #333;
  border: solid 1px #111;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 128px;
  opacity: 0.2;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
/* line 130, ../sass/lobby.scss */
#lobby .games .counter {
  position: absolute;
  background: #a00;
  padding: 5px 10px;
  right: 0;
  margin-top: -5px;
  margin-right: -5px;
  color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: black 0 1px 5px;
  -webkit-box-shadow: black 0 1px 5px;
  -o-box-shadow: black 0 1px 5px;
  box-shadow: black 0 1px 5px;
}
/* line 142, ../sass/lobby.scss */
#lobby .games label {
  position: absolute;
  color: #fff;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  margin: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-shadow: white 0 1px 5px;
}
/* line 156, ../sass/lobby.scss */
#lobby .games .game-mode:first-child {
  margin-top: 0;
}

/*
#lobby {
    padding: 20px;
    margin: 0 auto;
    width: 750px;


    #game-mode {
        display: inline-block;
        width: 350px;
        height: 300px;
        padding: 10px;
        margin-left: -20px;
        vertical-align: middle;
    }

    button {
        background-color: #384;
        border: none;
        color: yellow;
        font-size: 20px;
        padding: 10px 20px;
        @include border-radius(16px);
    }

    button:hover {
        background-color: yellow;
        color: #384;
    }

    button:disabled {
        color: #5a7;
    }

    .gametype {
        padding: 10px;
        margin: 0;
    }

    .game-mode-cont {
        position: relative;
        margin: 0;
        padding: 5px;

        .game-mode {
            position: relative;
            width: 256px;
            height: 128px;
            border: solid 2px #5a7;
            background: #363;
            @include border-radius(8px);

            &.arena {
                background: url('/res/mode-arena.png');
            }

            &.capture-flag {
                opacity: 0.5;
            }

            label {
                text-transform: uppercase;
                position: absolute;
                right: 10px;
                bottom: 10px;
                color: #5a7;
                font-weight: bold;
            }
        }
    }

    #player {
        position: relative;
        display: inline-block;
        width: 300px;
        padding: 10px;
        vertical-align: middle;

        @include border-radius(24px);
        @include box-shadow(#051, 0, 0, 30px);



    }

}*/
/* line 4, ../sass/game.scss */
#game {
  position: absolute;
  left: 50%;
  top: 60px;
  -moz-box-shadow: black 0px 3px 20px;
  -webkit-box-shadow: black 0px 3px 20px;
  -o-box-shadow: black 0px 3px 20px;
  box-shadow: black 0px 3px 20px;
}

/* line 12, ../sass/game.scss */
#waitserver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  text-align: center;
  line-height: 100px;
  color: #fff;
  opacity: 0.5;
}

/* line 25, ../sass/game.scss */
#chatbox {
  width: 90%;
  font-size: 14px;
  border: none;
  padding: 10px;
  background: #04a;
  color: #888;
}

/* line 34, ../sass/game.scss */
#chatbox:focus {
  border: none;
  color: #fff;
  outline: none;
}

/* line 41, ../sass/game.scss */
#footer {
  position: fixed;
  bottom: 0;
  background: #000;
  width: 100%;
  padding: 10px;
  font-size: 13px;
  line-height: 20px;
  color: #aaa;
  z-order: -100;
}
/* line 52, ../sass/game.scss */
#footer a {
  color: #fff;
}

/* line 58, ../sass/game.scss */
#score-table {
  padding: 12px;
  font: 13px Arial;
  background: black;
  border-bottom: solid 1px #4A4;
}
/* line 64, ../sass/game.scss */
#score-table .score-item {
  display: inline-block;
  margin: 0 10px;
  color: #aaa;
  vertical-align: top;
}
/* line 70, ../sass/game.scss */
#score-table .score-item .player {
  display: inline-block;
  margin-right: 3px;
}
/* line 75, ../sass/game.scss */
#score-table .score-item .score {
  display: inline-block;
  font-size: 15px;
  padding: 2px 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 82, ../sass/game.scss */
#score-table .score-item .lag {
  display: block;
  position: relative;
  height: 3px;
  width: 0;
  margin: 5px;
  background-color: #0f0;
  background-image: url("/res/lagbar.png");
  background-position: left;
}
/* line 94, ../sass/game.scss */
#score-table .score-item.color-mary .score {
  background: #a00;
  color: #fd6;
}
/* line 95, ../sass/game.scss */
#score-table .score-item.color-john .score {
  background: #fff;
  color: #33f;
}
/* line 96, ../sass/game.scss */
#score-table .score-item.color-joe .score {
  background: #333;
  color: #0f0;
  border: solid 1px #0f0;
  padding: 0 8px;
}
/* line 97, ../sass/game.scss */
#score-table .score-item.color-betty .score {
  background: #05e;
  color: #ffa;
}

/* line 101, ../sass/game.scss */
#console {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border-top: solid 1px #6af;
  background: #04a;
  z-index: 1000;
  -moz-box-shadow: black 0px -3px 20px;
  -webkit-box-shadow: black 0px -3px 20px;
  -o-box-shadow: black 0px -3px 20px;
  box-shadow: black 0px -3px 20px;
}

/* line 114, ../sass/game.scss */
#chat {
  color: #0f0;
  font-size: 12px;
  line-height: 20px;
  position: fixed;
  width: 100%;
  padding: 10px;
  bottom: 100px;
  z-index: -1;
}
/* line 124, ../sass/game.scss */
#chat .info {
  color: #000;
}
/* line 128, ../sass/game.scss */
#chat .chat {
  color: #ff0;
}
/* line 132, ../sass/game.scss */
#chat .mychat {
  color: #fff;
}
/* line 136, ../sass/game.scss */
#chat .kill {
  color: #fa6;
}
/* line 140, ../sass/game.scss */
#chat .bomb {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
