/* line 17, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/app.scss */
html {
  font-family: Arial;
  height: 100%;
}

/* line 11, ../sass/app.scss */
body {
  background-color: #27702c;
  color: #fff;
}

/* line 17, ../sass/app.scss */
#loading {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABuklEQVQ4y42Tuy8EURjF12NZsd5BLFvYUBAbCYntKEQQtqBQUFBQEqVKSIhCq0Urev+ChJLS7HyPe3e9ajVndodM7I64yS+5M3fO+V5zI5E/lsN0Ba4j/1054SS4BAnf4M7D2+uLqREjSWNNNNTAFfEMPsCFb3AL7r29GO0TlTQVbLlBTqUHdPtZbIJPMAHxDXh4frVRERkVy+1Fs4KJStDIET5xmB/Bqm9yCw4gngPL1poWRB/wzthKF1keJyv9gQy4F+JTQOAKz50g/n3Oaqr5RWogHCJLGbacyuVtXaUmjiOb3SelsjqdN6eKC5xQaxp/i7bBkc8hKQ+HNRlTaEH0EZ+0WJQF0Q44/sZVHg01sNIUNACDv7KRFMhinLVlI35/qkL9g2yktdL82yHcAOdgzxWNs/JPHzSvtfTs1pGhDJgHaddKLBh5HZyBqaKh8haYJpEE6COjaVKd8c4gToIZMjwSzKANtJbEMgbxMYRJV3Ue7xdJpQMGayBVNMlTPRU4VqEUboZ4HyyXzHQB5SwWRaoTYAUBGkLvAtJqRuQl/DhNfjazMMiWokqMjGTQxHCDCs2d9Pjrmy+hzJTvv4By2AAAAABJRU5ErkJggg==");
  background-size: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotateThis {
  /* line 35, ../sass/app.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 38, ../sass/app.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* line 44, ../sass/app.scss */
a {
  color: #f60;
}

/* line 48, ../sass/app.scss */
a.disabled {
  color: #333;
}

/* line 52, ../sass/app.scss */
a:hover {
  color: #fff;
}

/* line 11, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby {
  width: 600px;
  margin: 50px auto;
  white-space: nowrap;
  font-size: 18px;
  color: #051;
}
/* line 20, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .left {
  display: inline-block;
  vertical-align: top;
  width: 325px;
}
/* line 26, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .right {
  display: inline-block;
  vertical-align: top;
  margin-left: -40px;
}
/* line 32, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .logo {
  margin: 0 30px 30px 30px;
}
/* line 36, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby p {
  margin-bottom: 5px;
}
/* line 38, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby section {
  margin: 15px;
}
/* line 40, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .player {
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  -o-border-radius: 24px;
  -ms-border-radius: 24px;
  -khtml-border-radius: 24px;
  border-radius: 24px;
  -moz-box-shadow: 0 0 30px #005511;
  -webkit-box-shadow: 0 0 30px #005511;
  -o-box-shadow: 0 0 30px #005511;
  box-shadow: 0 0 30px #005511;
  background: #273;
  padding: 5px;
}
/* line 43, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .player #userpic {
  display: inline-block;
  vertical-align: bottom;
  width: 50px;
  height: 50px;
  margin-left: -50px;
}
/* line 50, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .player #userpic img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: black 0 1px 6px;
  -webkit-box-shadow: black 0 1px 6px;
  -o-box-shadow: black 0 1px 6px;
  box-shadow: black 0 1px 6px;
}
/* line 56, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .player input {
  background: #205f20;
  border: none;
  font-size: 22px;
  color: #5d4;
  padding: 8px;
  width: 250px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 66, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .player input:focus {
  outline: none;
}
/* line 73, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .character-select li {
  margin: 5px;
  display: inline-block;
  padding: 10px;
  background-color: #384;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.5;
}
/* line 81, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .character-select li:hover {
  background-color: #5b7;
}
/* line 82, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .character-select li.selected {
  background-color: #5b7;
  opacity: 1;
}
/* line 84, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .character-select li div {
  width: 22px;
  height: 22px;
  background-position: -22px 0;
}
/* line 90, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .character-select .john {
  background-image: url("../res/char-john.png");
}
/* line 91, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .character-select .joe {
  background-image: url("../res/char-joe.png");
}
/* line 92, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .character-select .betty {
  background-image: url("../res/char-betty.png");
}
/* line 93, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .character-select .mary {
  background-image: url("../res/char-mary.png");
}
/* line 95, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .character-select .frame0 .selected div {
  background-position: 0 0;
}
/* line 96, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .character-select .frame1 .selected div {
  background-position: -22px 0;
}
/* line 97, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .character-select .frame2 .selected div {
  background-position: -44px 0;
}
/* line 98, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .character-select .frame3 .selected div {
  background-position: -22px 0;
}
/* line 102, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby #facebook-login p {
  font-size: 12px;
  white-space: normal;
  line-height: 15px;
  color: #8fa;
}
/* line 108, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby #facebook-login a {
  color: #afa;
}
/* line 111, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .games {
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  -o-border-radius: 24px;
  -ms-border-radius: 24px;
  -khtml-border-radius: 24px;
  border-radius: 24px;
  -moz-box-shadow: 0 0 30px #005511;
  -webkit-box-shadow: 0 0 30px #005511;
  -o-box-shadow: 0 0 30px #005511;
  box-shadow: 0 0 30px #005511;
  background: #273;
  padding: 5px;
  padding: 20px;
}
/* line 115, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .games #games-list {
  min-width: 258px;
  min-height: 300px;
}
/* line 120, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .games .game-mode {
  position: relative;
  width: 256px;
  height: 128px;
  vertical-align: middle;
  border: solid 1px #000;
  margin-top: 10px;
}
/* line 130, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .games .game-mode.free {
  background: url("../res/mode-arena.png");
}
/* line 132, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .games .game-mode.free:hover {
  -moz-box-shadow: yellow 0 0 30px 3px;
  -webkit-box-shadow: yellow 0 0 30px 3px;
  -o-box-shadow: yellow 0 0 30px 3px;
  box-shadow: yellow 0 0 30px 3px;
}
/* line 136, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .games .game-mode.future {
  background: #333;
  border: solid 1px #111;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 128px;
  opacity: 0.2;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
/* line 147, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .games .game-mode .play {
  cursor: default;
  line-height: 128px;
  font-size: 32px;
  color: #FF0;
  text-align: center;
  text-shadow: black 0 1px 5px;
  opacity: 0;
  -moz-transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -o-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  -moz-transition-property: opacity, transform;
  -webkit-transition-property: opacity, transform;
  -o-transition-property: opacity, transform;
  transition-property: opacity, transform;
  -moz-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
}
/* line 161, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .games .game-mode:hover .play {
  opacity: 1;
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
/* line 167, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .games .counter {
  position: absolute;
  background: #a00;
  padding: 5px 10px;
  right: 0;
  margin-top: -5px;
  margin-right: -5px;
  color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: black 0 1px 5px;
  -webkit-box-shadow: black 0 1px 5px;
  -o-box-shadow: black 0 1px 5px;
  box-shadow: black 0 1px 5px;
}
/* line 179, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .games label {
  position: absolute;
  color: #fff;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  margin: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-shadow: white 0 1px 5px;
}
/* line 193, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
#lobby .games .game-mode:first-child {
  margin-top: 0;
}

/* line 201, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
article {
  margin: 40px 10px;
  color: #132;
}
/* line 205, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
article header {
  font-size: 16px;
  margin: 10px 0;
  font-weight: bold;
}
/* line 207, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
article p {
  font-size: 13px;
}

/* line 212, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
footer {
  background: #373;
  width: 100%;
  padding: 30px 20px;
  font-size: 13px;
  line-height: 20px;
  color: #252;
  margin-top: 35px;
  position: absolute;
  left: 0;
  right: 0;
  box-sizing: border-box;
}
/* line 225, /Users/cristi/Desktop/websteer/guys/web/game/sass/lobby.scss */
footer a {
  color: #4c4;
}

/* line 7, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #view {
  position: absolute;
  -moz-box-shadow: black 0px 3px 20px;
  -webkit-box-shadow: black 0px 3px 20px;
  -o-box-shadow: black 0px 3px 20px;
  box-shadow: black 0px 3px 20px;
}
/* line 13, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #waitserver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  text-align: center;
  line-height: 100px;
  color: #fff;
  opacity: 0.5;
}
/* line 26, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  padding: 12px;
  font: 13px Arial;
  background: black;
  border-right: solid 1px #4A4;
}
/* line 39, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table section {
  margin-bottom: 20px;
}
/* line 42, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table section header {
  color: #555;
  text-transform: uppercase;
  margin: 5px;
}
/* line 49, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #challenges-section {
  display: none;
}
/* line 52, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #challenges-section .icon img {
  width: 25px;
  height: 25px;
}
/* line 54, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #challenges-section .icon1 {
  float: left;
}
/* line 55, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #challenges-section .icon2 {
  float: right;
}
/* line 56, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #challenges-section .vs {
  color: #666;
}
/* line 58, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #challenges-section .score {
  padding: 2px 5px;
}
/* line 61, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #challenges-section .score.high {
  color: #000;
  background: #fff;
}
/* line 67, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #challenges-section .score-item {
  display: block;
  clear: both;
  padding: 10px 10px;
  color: #aaa;
  vertical-align: top;
  border-top: solid 1px #222;
  text-align: center;
  line-height: 25px;
}
/* line 77, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #challenges-section .score-item:first-child {
  border-top: none;
}
/* line 81, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #friends-section {
  display: none;
}
/* line 84, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #friends-section .friend {
  color: #999;
}
/* line 85, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #friends-section .friend img {
  width: 25px;
  height: 25px;
  margin: 5px 10px;
  vertical-align: middle;
}
/* line 91, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #friends-section .friend .who {
  display: inline-block;
}
/* line 92, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #friends-section .friend .challenge {
  display: inline-block;
}
/* line 93, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #friends-section .friend .challenged {
  color: #555;
}
/* line 96, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #friends-section #multi-challenge {
  color: #aaa;
}
/* line 100, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #scores-section .score-item {
  clear: both;
  display: block;
  padding: 10px 10px;
  color: #aaa;
  vertical-align: top;
  border-top: solid 1px #222;
}
/* line 108, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #scores-section .score-item .icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
  float: left;
}
/* line 116, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #scores-section .score-item img {
  width: 25px;
  height: 25px;
}
/* line 118, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #scores-section .score-item .player {
  display: inline-block;
  margin-right: 3px;
  max-width: 85px;
}
/* line 124, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #scores-section .score-item .score {
  float: right;
  display: inline-block;
  font-size: 15px;
  padding: 2px 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 132, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table #scores-section .score-item .lag {
  display: block;
  height: 3px;
  width: 0;
  margin: 5px 5px 5px 35px;
  background-color: #0f0;
  background-image: url("../res/lagbar.png");
  background-position: left;
}
/* line 144, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table .score-item:first-child {
  border-top: none;
}
/* line 148, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table .score-item.color-mary .score {
  background: #a00;
  color: #fd6;
}
/* line 149, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table .score-item.color-john .score {
  background: #fff;
  color: #33f;
}
/* line 150, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table .score-item.color-joe .score {
  background: #333;
  color: #0f0;
  border: solid 1px #0f0;
  padding: 0 8px;
}
/* line 151, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #score-table .score-item.color-betty .score {
  background: #05e;
  color: #ffa;
}
/* line 157, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #chat {
  position: fixed;
  bottom: 0;
  left: 225px;
  right: 0;
  z-index: -1;
  color: #0f0;
  font-size: 12px;
  line-height: 20px;
  padding: 10px;
  overflow-y: scroll;
}
/* line 171, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #chat .info {
  color: #000;
}
/* line 175, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #chat .chat {
  color: #ff0;
}
/* line 179, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #chat .mychat {
  color: #fff;
}
/* line 183, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #chat .kill {
  color: #fa6;
}
/* line 187, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #chat .bomb {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
/* line 194, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #console {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border-top: solid 1px #6af;
  background: #04a;
  z-index: 1000;
  -moz-box-shadow: black 0px -3px 20px;
  -webkit-box-shadow: black 0px -3px 20px;
  -o-box-shadow: black 0px -3px 20px;
  box-shadow: black 0px -3px 20px;
}
/* line 206, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #chatbox {
  width: 90%;
  font-size: 14px;
  border: none;
  padding: 10px;
  background: #04a;
  color: #888;
}
/* line 215, /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss */
#game #chatbox:focus {
  border: none;
  color: #fff;
  outline: none;
}
