/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/app.scss */
html {
  font-family: Arial;
  height: 100%;
}

/* line 11, ../sass/app.scss */
body {
  background-color: #27702c;
  color: #fff;
}

/* line 17, ../sass/app.scss */
#loading {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABuklEQVQ4y42Tuy8EURjF12NZsd5BLFvYUBAbCYntKEQQtqBQUFBQEqVKSIhCq0Urev+ChJLS7HyPe3e9ajVndodM7I64yS+5M3fO+V5zI5E/lsN0Ba4j/1054SS4BAnf4M7D2+uLqREjSWNNNNTAFfEMPsCFb3AL7r29GO0TlTQVbLlBTqUHdPtZbIJPMAHxDXh4frVRERkVy+1Fs4KJStDIET5xmB/Bqm9yCw4gngPL1poWRB/wzthKF1keJyv9gQy4F+JTQOAKz50g/n3Oaqr5RWogHCJLGbacyuVtXaUmjiOb3SelsjqdN6eKC5xQaxp/i7bBkc8hKQ+HNRlTaEH0EZ+0WJQF0Q44/sZVHg01sNIUNACDv7KRFMhinLVlI35/qkL9g2yktdL82yHcAOdgzxWNs/JPHzSvtfTs1pGhDJgHaddKLBh5HZyBqaKh8haYJpEE6COjaVKd8c4gToIZMjwSzKANtJbEMgbxMYRJV3Ue7xdJpQMGayBVNMlTPRU4VqEUboZ4HyyXzHQB5SwWRaoTYAUBGkLvAtJqRuQl/DhNfjazMMiWokqMjGTQxHCDCs2d9Pjrmy+hzJTvv4By2AAAAABJRU5ErkJggg==");
  background-size: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotateThis {
  /* line 35, ../sass/app.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 38, ../sass/app.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* line 44, ../sass/app.scss */
a {
  color: #f60;
}

/* line 48, ../sass/app.scss */
a.disabled {
  color: #333;
}

/* line 52, ../sass/app.scss */
a:hover {
  color: #fff;
}

/* line 5, ../sass/lobby.scss */
#lobby {
  width: 350px;
  margin: 50px auto;
  padding: 10px;
  font-size: 20px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  -o-border-radius: 24px;
  -ms-border-radius: 24px;
  -khtml-border-radius: 24px;
  border-radius: 24px;
  -moz-box-shadow: 0 0 30px #005511;
  -webkit-box-shadow: 0 0 30px #005511;
  -o-box-shadow: 0 0 30px #005511;
  box-shadow: 0 0 30px #005511;
}
/* line 15, ../sass/lobby.scss */
#lobby section {
  margin: 15px;
}
/* line 19, ../sass/lobby.scss */
#lobby p {
  color: #051;
  margin-bottom: 5px;
}
/* line 24, ../sass/lobby.scss */
#lobby #userpic {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  vertical-align: bottom;
  width: 50px;
  height: 50px;
}
/* line 31, ../sass/lobby.scss */
#lobby input {
  background: #273;
  border: none;
  font-size: 24px;
  color: yellow;
  border-bottom: solid 1px yellow;
  padding: 10px;
  width: 210px;
}
/* line 41, ../sass/lobby.scss */
#lobby input:focus {
  outline: none;
}
/* line 45, ../sass/lobby.scss */
#lobby button {
  background-color: #384;
  border: none;
  color: yellow;
  font-size: 20px;
  padding: 10px 20px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  -o-border-radius: 16px;
  -ms-border-radius: 16px;
  -khtml-border-radius: 16px;
  border-radius: 16px;
}
/* line 54, ../sass/lobby.scss */
#lobby button:hover {
  background-color: yellow;
  color: #384;
}
/* line 59, ../sass/lobby.scss */
#lobby button:disabled {
  color: #384;
}
/* line 64, ../sass/lobby.scss */
#lobby .character-select li {
  margin: 8px;
  display: inline-block;
  padding: 10px;
  background-color: #384;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 71, ../sass/lobby.scss */
#lobby .character-select li:hover {
  background-color: #5b7;
}
/* line 72, ../sass/lobby.scss */
#lobby .character-select li.selected {
  background-color: #5b7;
}
/* line 74, ../sass/lobby.scss */
#lobby .character-select li div {
  width: 22px;
  height: 22px;
}
/* line 79, ../sass/lobby.scss */
#lobby .character-select .john {
  background-image: url("/res/char-john.png");
}
/* line 80, ../sass/lobby.scss */
#lobby .character-select .joe {
  background-image: url("/res/char-joe.png");
}
/* line 81, ../sass/lobby.scss */
#lobby .character-select .betty {
  background-image: url("/res/char-betty.png");
}
/* line 82, ../sass/lobby.scss */
#lobby .character-select .mary {
  background-image: url("/res/char-mary.png");
}
/* line 84, ../sass/lobby.scss */
#lobby .character-select .frame0 .selected div {
  background-position: 0 0;
}
/* line 85, ../sass/lobby.scss */
#lobby .character-select .frame1 .selected div {
  background-position: -22px 0;
}
/* line 86, ../sass/lobby.scss */
#lobby .character-select .frame2 .selected div {
  background-position: -44px 0;
}
/* line 87, ../sass/lobby.scss */
#lobby .character-select .frame3 .selected div {
  background-position: -22px 0;
}

/* line 4, ../sass/game.scss */
#game {
  position: absolute;
  left: 50%;
  top: 60px;
  -moz-box-shadow: black 0px 3px 20px;
  -webkit-box-shadow: black 0px 3px 20px;
  -o-box-shadow: black 0px 3px 20px;
  box-shadow: black 0px 3px 20px;
}

/* line 12, ../sass/game.scss */
#waitserver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  text-align: center;
  line-height: 100px;
  color: #fff;
  opacity: 0.5;
}

/* line 25, ../sass/game.scss */
#chatbox {
  width: 90%;
  font-size: 14px;
  border: none;
  padding: 10px;
  background: #04a;
  color: #888;
}

/* line 34, ../sass/game.scss */
#chatbox:focus {
  border: none;
  color: #fff;
  outline: none;
}

/* line 41, ../sass/game.scss */
#footer {
  position: fixed;
  bottom: 0;
  background: #000;
  width: 100%;
  padding: 10px;
  font-size: 13px;
  line-height: 20px;
  color: #aaa;
  z-order: -100;
}
/* line 52, ../sass/game.scss */
#footer a {
  color: #fff;
}

/* line 58, ../sass/game.scss */
#score-table {
  padding: 12px;
  font: 13px Arial;
  background: black;
  border-bottom: solid 1px #4A4;
}
/* line 64, ../sass/game.scss */
#score-table .score-item {
  display: inline-block;
  margin: 0 10px;
  color: #aaa;
  vertical-align: top;
}
/* line 70, ../sass/game.scss */
#score-table .score-item .player {
  display: inline-block;
  margin-right: 3px;
}
/* line 75, ../sass/game.scss */
#score-table .score-item .score {
  display: inline-block;
  font-size: 15px;
  padding: 2px 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 82, ../sass/game.scss */
#score-table .score-item .lag {
  display: block;
  position: relative;
  height: 3px;
  width: 0;
  margin: 5px;
  background-color: #0f0;
  background-image: url("/res/lagbar.png");
  background-position: left;
}
/* line 94, ../sass/game.scss */
#score-table .score-item.color-mary .score {
  background: #a00;
  color: #fd6;
}
/* line 95, ../sass/game.scss */
#score-table .score-item.color-john .score {
  background: #fff;
  color: #33f;
}
/* line 96, ../sass/game.scss */
#score-table .score-item.color-joe .score {
  background: #333;
  color: #0f0;
  border: solid 1px #0f0;
  padding: 0 8px;
}
/* line 97, ../sass/game.scss */
#score-table .score-item.color-betty .score {
  background: #05e;
  color: #ffa;
}

/* line 101, ../sass/game.scss */
#console {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border-top: solid 1px #6af;
  background: #04a;
  z-index: 1000;
  -moz-box-shadow: black 0px -3px 20px;
  -webkit-box-shadow: black 0px -3px 20px;
  -o-box-shadow: black 0px -3px 20px;
  box-shadow: black 0px -3px 20px;
}

/* line 114, ../sass/game.scss */
#chat {
  color: #0f0;
  font-size: 12px;
  line-height: 20px;
  position: fixed;
  width: 100%;
  padding: 10px;
  bottom: 100px;
  z-index: -1;
}
/* line 124, ../sass/game.scss */
#chat .info {
  color: #000;
}
/* line 128, ../sass/game.scss */
#chat .chat {
  color: #ff0;
}
/* line 132, ../sass/game.scss */
#chat .mychat {
  color: #fff;
}
/* line 136, ../sass/game.scss */
#chat .kill {
  color: #fa6;
}
/* line 140, ../sass/game.scss */
#chat .bomb {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
