/* line 7, ../sass/game.scss */
#game #view {
  position: absolute;
  -moz-box-shadow: black 0px 3px 20px;
  -webkit-box-shadow: black 0px 3px 20px;
  -o-box-shadow: black 0px 3px 20px;
  box-shadow: black 0px 3px 20px;
}
/* line 13, ../sass/game.scss */
#game #waitserver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  text-align: center;
  line-height: 100px;
  color: #fff;
  opacity: 0.5;
}
/* line 26, ../sass/game.scss */
#game #score-table {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  padding: 12px;
  font: 13px Arial;
  background: black;
  border-right: solid 1px #4A4;
}
/* line 39, ../sass/game.scss */
#game #score-table section {
  margin-bottom: 20px;
}
/* line 42, ../sass/game.scss */
#game #score-table section header {
  color: #555;
  text-transform: uppercase;
  margin: 5px;
}
/* line 49, ../sass/game.scss */
#game #score-table #challenges-section {
  display: none;
}
/* line 52, ../sass/game.scss */
#game #score-table #challenges-section .icon img {
  width: 25px;
  height: 25px;
}
/* line 54, ../sass/game.scss */
#game #score-table #challenges-section .icon1 {
  float: left;
}
/* line 55, ../sass/game.scss */
#game #score-table #challenges-section .icon2 {
  float: right;
}
/* line 56, ../sass/game.scss */
#game #score-table #challenges-section .vs {
  color: #666;
}
/* line 58, ../sass/game.scss */
#game #score-table #challenges-section .score {
  padding: 2px 5px;
}
/* line 61, ../sass/game.scss */
#game #score-table #challenges-section .score.high {
  color: #000;
  background: #fff;
}
/* line 67, ../sass/game.scss */
#game #score-table #challenges-section .score-item {
  display: block;
  clear: both;
  padding: 10px 10px;
  color: #aaa;
  vertical-align: top;
  border-top: solid 1px #222;
  text-align: center;
  line-height: 25px;
}
/* line 77, ../sass/game.scss */
#game #score-table #challenges-section .score-item:first-child {
  border-top: none;
}
/* line 81, ../sass/game.scss */
#game #score-table #friends-section {
  display: none;
}
/* line 84, ../sass/game.scss */
#game #score-table #friends-section .friend {
  color: #999;
}
/* line 85, ../sass/game.scss */
#game #score-table #friends-section .friend img {
  width: 25px;
  height: 25px;
  margin: 5px 10px;
  vertical-align: middle;
}
/* line 91, ../sass/game.scss */
#game #score-table #friends-section .friend .who {
  display: inline-block;
}
/* line 92, ../sass/game.scss */
#game #score-table #friends-section .friend .challenge {
  display: inline-block;
}
/* line 93, ../sass/game.scss */
#game #score-table #friends-section .friend .challenged {
  color: #555;
}
/* line 96, ../sass/game.scss */
#game #score-table #friends-section #multi-challenge {
  color: #aaa;
}
/* line 100, ../sass/game.scss */
#game #score-table #scores-section .score-item {
  clear: both;
  display: block;
  padding: 10px 10px;
  color: #aaa;
  vertical-align: top;
  border-top: solid 1px #222;
}
/* line 108, ../sass/game.scss */
#game #score-table #scores-section .score-item .icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
  float: left;
}
/* line 116, ../sass/game.scss */
#game #score-table #scores-section .score-item img {
  width: 25px;
  height: 25px;
}
/* line 118, ../sass/game.scss */
#game #score-table #scores-section .score-item .player {
  display: inline-block;
  margin-right: 3px;
  max-width: 85px;
}
/* line 124, ../sass/game.scss */
#game #score-table #scores-section .score-item .score {
  float: right;
  display: inline-block;
  font-size: 15px;
  padding: 2px 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 132, ../sass/game.scss */
#game #score-table #scores-section .score-item .lag {
  display: block;
  height: 3px;
  width: 0;
  margin: 5px 5px 5px 35px;
  background-color: #0f0;
  background-image: url("../res/lagbar.png");
  background-position: left;
}
/* line 144, ../sass/game.scss */
#game #score-table .score-item:first-child {
  border-top: none;
}
/* line 148, ../sass/game.scss */
#game #score-table .score-item.color-mary .score {
  background: #a00;
  color: #fd6;
}
/* line 149, ../sass/game.scss */
#game #score-table .score-item.color-john .score {
  background: #fff;
  color: #33f;
}
/* line 150, ../sass/game.scss */
#game #score-table .score-item.color-joe .score {
  background: #333;
  color: #0f0;
  border: solid 1px #0f0;
  padding: 0 8px;
}
/* line 151, ../sass/game.scss */
#game #score-table .score-item.color-betty .score {
  background: #05e;
  color: #ffa;
}
/* line 157, ../sass/game.scss */
#game #chat {
  position: fixed;
  bottom: 0;
  left: 225px;
  right: 0;
  z-index: -1;
  color: #0f0;
  font-size: 12px;
  line-height: 20px;
  padding: 10px;
  overflow-y: scroll;
}
/* line 171, ../sass/game.scss */
#game #chat .info {
  color: #000;
}
/* line 175, ../sass/game.scss */
#game #chat .chat {
  color: #ff0;
}
/* line 179, ../sass/game.scss */
#game #chat .mychat {
  color: #fff;
}
/* line 183, ../sass/game.scss */
#game #chat .kill {
  color: #fa6;
}
/* line 187, ../sass/game.scss */
#game #chat .bomb {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
/* line 194, ../sass/game.scss */
#game #console {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border-top: solid 1px #6af;
  background: #04a;
  z-index: 1000;
  -moz-box-shadow: black 0px -3px 20px;
  -webkit-box-shadow: black 0px -3px 20px;
  -o-box-shadow: black 0px -3px 20px;
  box-shadow: black 0px -3px 20px;
}
/* line 206, ../sass/game.scss */
#game #chatbox {
  width: 90%;
  font-size: 14px;
  border: none;
  padding: 10px;
  background: #04a;
  color: #888;
}
/* line 215, ../sass/game.scss */
#game #chatbox:focus {
  border: none;
  color: #fff;
  outline: none;
}
