/*
Syntax error: Undefined mixin 'box-shadow'.
        on line 9 of /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss, in `box-shadow'
        from line 9 of /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss

Backtrace:
/Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss:9:in `box-shadow'
/Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss:9
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:170:in `visit_mixin'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:238:in `visit_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/engine.rb:299:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/engine.rb:247:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/util.rb:310:in `silence_sass_warnings'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/engine.rb:247:in `render'
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/lib/compass/compiler.rb:136:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/lib/compass/compiler.rb:122:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/lib/compass/compiler.rb:135:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/lib/compass/logger.rb:45:in `red'
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/lib/compass/compiler.rb:134:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/lib/compass/compiler.rb:114:in `compile_if_required'
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/lib/compass/compiler.rb:99:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/lib/compass/compiler.rb:97:in `each'
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/lib/compass/compiler.rb:97:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/lib/compass/compiler.rb:122:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/lib/compass/compiler.rb:96:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/lib/compass/commands/watch_project.rb:142:in `recompile'
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/lib/compass/commands/watch_project.rb:68:in `perform'
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/bin/compass:25
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/bin/compass:39:in `call'
/Library/Ruby/Gems/1.8/gems/compass-0.11.7/bin/compass:39
/usr/bin/compass:19:in `load'
/usr/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'box-shadow'.\A         on line 9 of /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss, in `box-shadow'\A         from line 9 of /Users/cristi/Desktop/websteer/guys/web/game/sass/game.scss"; }
