/* line 11, ../sass/lobby.scss */
#lobby {
  width: 600px;
  margin: 50px auto;
  white-space: nowrap;
  font-size: 18px;
  color: #051;
}
/* line 20, ../sass/lobby.scss */
#lobby .left {
  display: inline-block;
  vertical-align: top;
  width: 325px;
}
/* line 26, ../sass/lobby.scss */
#lobby .right {
  display: inline-block;
  vertical-align: top;
  margin-left: -40px;
}
/* line 32, ../sass/lobby.scss */
#lobby .logo {
  margin: 0 30px 30px 30px;
}
/* line 36, ../sass/lobby.scss */
#lobby p {
  margin-bottom: 5px;
}
/* line 38, ../sass/lobby.scss */
#lobby section {
  margin: 15px;
}
/* line 40, ../sass/lobby.scss */
#lobby .player {
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  -o-border-radius: 24px;
  -ms-border-radius: 24px;
  -khtml-border-radius: 24px;
  border-radius: 24px;
  -moz-box-shadow: 0 0 30px #005511;
  -webkit-box-shadow: 0 0 30px #005511;
  -o-box-shadow: 0 0 30px #005511;
  box-shadow: 0 0 30px #005511;
  background: #273;
  padding: 5px;
}
/* line 43, ../sass/lobby.scss */
#lobby .player #userpic {
  display: inline-block;
  vertical-align: bottom;
  width: 50px;
  height: 50px;
  margin-left: -50px;
}
/* line 50, ../sass/lobby.scss */
#lobby .player #userpic img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: black 0 1px 6px;
  -webkit-box-shadow: black 0 1px 6px;
  -o-box-shadow: black 0 1px 6px;
  box-shadow: black 0 1px 6px;
}
/* line 56, ../sass/lobby.scss */
#lobby .player input {
  background: #205f20;
  border: none;
  font-size: 22px;
  color: #5d4;
  padding: 8px;
  width: 250px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 66, ../sass/lobby.scss */
#lobby .player input:focus {
  outline: none;
}
/* line 73, ../sass/lobby.scss */
#lobby .character-select li {
  margin: 5px;
  display: inline-block;
  padding: 10px;
  background-color: #384;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.5;
}
/* line 81, ../sass/lobby.scss */
#lobby .character-select li:hover {
  background-color: #5b7;
}
/* line 82, ../sass/lobby.scss */
#lobby .character-select li.selected {
  background-color: #5b7;
  opacity: 1;
}
/* line 84, ../sass/lobby.scss */
#lobby .character-select li div {
  width: 22px;
  height: 22px;
  background-position: -22px 0;
}
/* line 90, ../sass/lobby.scss */
#lobby .character-select .john {
  background-image: url("/res/char-john.png");
}
/* line 91, ../sass/lobby.scss */
#lobby .character-select .joe {
  background-image: url("/res/char-joe.png");
}
/* line 92, ../sass/lobby.scss */
#lobby .character-select .betty {
  background-image: url("/res/char-betty.png");
}
/* line 93, ../sass/lobby.scss */
#lobby .character-select .mary {
  background-image: url("/res/char-mary.png");
}
/* line 95, ../sass/lobby.scss */
#lobby .character-select .frame0 .selected div {
  background-position: 0 0;
}
/* line 96, ../sass/lobby.scss */
#lobby .character-select .frame1 .selected div {
  background-position: -22px 0;
}
/* line 97, ../sass/lobby.scss */
#lobby .character-select .frame2 .selected div {
  background-position: -44px 0;
}
/* line 98, ../sass/lobby.scss */
#lobby .character-select .frame3 .selected div {
  background-position: -22px 0;
}
/* line 101, ../sass/lobby.scss */
#lobby .games {
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  -o-border-radius: 24px;
  -ms-border-radius: 24px;
  -khtml-border-radius: 24px;
  border-radius: 24px;
  -moz-box-shadow: 0 0 30px #005511;
  -webkit-box-shadow: 0 0 30px #005511;
  -o-box-shadow: 0 0 30px #005511;
  box-shadow: 0 0 30px #005511;
  background: #273;
  padding: 5px;
  padding: 20px;
}
/* line 105, ../sass/lobby.scss */
#lobby .games #games-list {
  min-width: 258px;
  min-height: 300px;
}
/* line 110, ../sass/lobby.scss */
#lobby .games .game-mode {
  position: relative;
  width: 256px;
  height: 128px;
  vertical-align: middle;
  border: solid 1px #000;
  margin-top: 10px;
}
/* line 120, ../sass/lobby.scss */
#lobby .games .game-mode.free {
  background: url("/res/mode-arena.png");
}
/* line 122, ../sass/lobby.scss */
#lobby .games .game-mode.free:hover {
  -moz-box-shadow: yellow 0 0 30px 3px;
  -webkit-box-shadow: yellow 0 0 30px 3px;
  -o-box-shadow: yellow 0 0 30px 3px;
  box-shadow: yellow 0 0 30px 3px;
}
/* line 126, ../sass/lobby.scss */
#lobby .games .game-mode.future {
  background: #333;
  border: solid 1px #111;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 128px;
  opacity: 0.2;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
/* line 137, ../sass/lobby.scss */
#lobby .games .game-mode .play {
  cursor: default;
  line-height: 128px;
  font-size: 32px;
  color: #FF0;
  text-align: center;
  text-shadow: black 0 1px 5px;
  opacity: 0;
  -moz-transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -o-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  -moz-transition-property: opacity, transform;
  -webkit-transition-property: opacity, transform;
  -o-transition-property: opacity, transform;
  transition-property: opacity, transform;
  -moz-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
}
/* line 151, ../sass/lobby.scss */
#lobby .games .game-mode:hover .play {
  opacity: 1;
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
/* line 157, ../sass/lobby.scss */
#lobby .games .counter {
  position: absolute;
  background: #a00;
  padding: 5px 10px;
  right: 0;
  margin-top: -5px;
  margin-right: -5px;
  color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: black 0 1px 5px;
  -webkit-box-shadow: black 0 1px 5px;
  -o-box-shadow: black 0 1px 5px;
  box-shadow: black 0 1px 5px;
}
/* line 169, ../sass/lobby.scss */
#lobby .games label {
  position: absolute;
  color: #fff;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  margin: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-shadow: white 0 1px 5px;
}
/* line 183, ../sass/lobby.scss */
#lobby .games .game-mode:first-child {
  margin-top: 0;
}

/* line 191, ../sass/lobby.scss */
article {
  margin: 40px 10px;
  color: #132;
}
/* line 195, ../sass/lobby.scss */
article header {
  font-size: 16px;
  margin: 10px 0;
  font-weight: bold;
}
/* line 197, ../sass/lobby.scss */
article p {
  font-size: 13px;
}

/* line 202, ../sass/lobby.scss */
footer {
  background: #373;
  width: 100%;
  padding: 30px 20px;
  font-size: 13px;
  line-height: 20px;
  color: #252;
  margin-top: 35px;
  position: absolute;
  left: 0;
  right: 0;
  box-sizing: border-box;
}
/* line 215, ../sass/lobby.scss */
footer a {
  color: #4c4;
}
