
@import "compass";

.sprite,.character {
    position: absolute;
    background-repeat: no-repeat;
}

.character
{
    width: 22px;
    height: 22px;
}

.john {   background-image: url('/res/char-john.png'); }
.mary {   background-image: url('/res/char-mary.png'); }
.joe  {   background-image: url('/res/char-joe.png'); }
.betty {  background-image: url('/res/char-betty.png'); }


.bomb {
    width: 16px;
    height: 16px;
    background-image: url('/res/bombs.png');
}

.flame {
    width: 16px;
    height: 16px;
    background-image: url('/res/flames.png');
}