
@import "compass";

.character,.john,.mary,.joe,.betty
{
    position: absolute;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}

.john {   background-image: url('/res/char-john.png'); }
.mary {   background-image: url('/res/char-mary.png'); }
.joe  {   background-image: url('/res/char-joe.png'); }
.betty {  background-image: url('/res/char-betty.png'); }
